PostTrade/EX5/xsd_files/ex5-ins-reg-0101-xml.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="urn:ex5-ins-reg-0101-xml.xsd"
        targetNamespace="urn:ex5-ins-reg-0101-xml.xsd"
        elementFormDefault="qualified">

    <!--
        A5X Instruments Data Message — XML Schema Definition (XSD)
        File: ex5-ins-reg-0101-xml.xsd
        Description: Defines the XML structure for the A5X Instruments data message (reference/master data).

        Namespace:      urn:ex5-ins-reg-0101-xml.xsd
        TargetNamespace: urn:ex5-ins-reg-0101-xml.xsd

        Version: 1
        Release-Date: 2025-12-18
    -->


    <!-- ========== ROOT DOCUMENT ========== -->

    <xs:element name="Document" type="Document"/>

    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="Instrm" type="Instruments"/>
        </xs:sequence>
    </xs:complexType>

    <!-- ========== INSTRUMENT WRAPPER (ENVELOPE) ========== -->

    <xs:complexType name="Instruments">
        <xs:sequence>
            <xs:element name="RptParams"          type="ReportParameters"/>
            <xs:element name="FinInstrmId"        type="InstrumentIdentification"/>
            <xs:element name="FinInstrmAttrCmon"  type="CommonInstrumentAttributes"/>
            <xs:element name="InstrmInf"          type="InstrumentSpecificAttributes"/>
        </xs:sequence>
    </xs:complexType>

    <!-- ========== COMMON PART (REPORT + CORE IDENTIFICATION + COMMON ATTRIBUTES) ========== -->

    <!-- Report parameters -->
    <xs:complexType name="ReportParameters">
        <xs:sequence>
            <xs:element name="ActvtyInd"   type="YesNoFlag"/>
            <xs:element name="Frqcy"       type="EventFrequencyCode"/>
            <xs:element name="NetPosId"    type="TextMin1Max35"/>
            <xs:element name="RptDtAndTm"  type="ReportDateChoice"/>
            <xs:element name="RptNb"       type="FiveDigitNumericText" minOccurs="0"/>
            <xs:element name="UpdTp"       type="StatementUpdateTypeCode"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Report date wrapper (date-only for this reduced model) -->
    <xs:complexType name="ReportDateChoice">
        <xs:sequence>
            <xs:element name="Dt" type="ISODate"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Instrument identification (triple: id + source + exchange) -->
    <xs:complexType name="InstrumentIdentification">
        <xs:sequence>
            <xs:element name="OthrId"     type="AlternativeIdentification"/>
            <xs:element name="PlcOfListg" type="MarketIdentification"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Alternative (Other) identification: ID + proprietary type/source -->
    <xs:complexType name="AlternativeIdentification">
        <xs:sequence>
            <xs:element name="Id" type="TextMin1Max35"/>
            <xs:element name="Tp" type="SourceIdentification"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Identification source (proprietary code) -->
    <xs:complexType name="SourceIdentification">
        <xs:sequence>
            <xs:element name="Prtry" type="TextMin1Max35"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Market identification (MIC code) -->
    <xs:complexType name="MarketIdentification">
        <xs:sequence>
            <xs:element name="MktIdrCd" type="MICCode"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Common instrument attributes (asset + market/segment + description) -->
    <xs:complexType name="CommonInstrumentAttributes">
        <xs:sequence>
            <xs:element name="Asst"      type="TextMin1Max30"/>
            <xs:element name="AsstDesc"  type="TextMin0Max100"/>
            <xs:element name="Mkt"       type="MarketCode"/>
            <xs:element name="Sgmt"      type="SegmentCode"/>
            <xs:element name="Desc"      type="TextMin0Max100"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Instrument-specific attributes (one of the supported A5X instrument types):
         - OptnOnEqtsInf         : Option on Equities
         - OptnOnSpotAndFutrsInf : Option on Futures
         - FutrCtrctsInf         : Futures Contracts
         - EqtyInf               : Equities
         - StrtgyInf             : Strategy
         - CshInf                : Cash
         - NtlBdInf              : Domestic/National Bonds
         - IntlBdInf             : International Bonds
         - FICInf                : Investment Funds (FIC)
         - ADRInf                : American Depositary Receipts (ADR)
         - FxdIncmNonTrdblInf    : Fixed Income Non-Tradable
    -->
    <xs:complexType name="InstrumentSpecificAttributes">
        <xs:choice>
            <xs:element name="OptnOnEqtsInf"         type="OptionOnEquitiesAttributes"/>
            <xs:element name="OptnOnSpotAndFutrsInf" type="OptionOnFuturesAttributes"/>
            <xs:element name="FutrCtrctsInf"         type="FuturesContractsAttributes"/>
            <xs:element name="EqtyInf"               type="EquitiesFinancialInstrumentAttributes"/>
            <xs:element name="StrtgyInf"             type="StrategyFinancialInstrumentAttributes"/>
            <xs:element name="CshInf"                type="CashFinancialInstrumentAttributes"/>
            <xs:element name="NtlBdInf"              type="BondsFinancialInstrumentAttributes"/>
            <xs:element name="IntlBdInf"             type="InternationalBondsFinancialInstrumentAttributes"/>
            <xs:element name="FICInf"                type="FICFinancialInstrumentAttributes"/>
            <xs:element name="ADRInf"                type="ADRInstrumentAttributes"/>
            <xs:element name="FxdIncmNonTrdblInf"    type="FixedIncomeNonTradableFinancialInstrumentAttributes"/>
        </xs:choice>
    </xs:complexType>

    <!-- ========== OPTION ON EQUITIES ========== -->

    <xs:complexType name="OptionOnEquitiesAttributes">
        <xs:sequence>
            <!-- Security category of the equity option -->
            <xs:element name="SctyCtgy"         type="SecurityCategoryCode"/>

            <!-- Identification -->
            <xs:element name="ISIN"             type="ISIN"                     minOccurs="0"/>
            <xs:element name="DstrbtnId"        type="DistributionId"/>
            <xs:element name="CFICd"            type="TextMin1Max6"             minOccurs="0"/>
            <xs:element name="TckrSymb"         type="TickerSymbol"/>

            <!-- Exercise price with currency attribute -->
            <xs:element name="ExrcPric"         type="MoneyAmount10Decimal"/>

            <!-- Option style, type and series -->
            <xs:element name="OptnStyle"        type="OptionStyle"/>
            <xs:element name="XprtnDt"          type="ISODate"/>
            <xs:element name="XprtnCd"          type="TextMin1Max4"             minOccurs="0"/>
            <xs:element name="OptnTp"           type="OptionType"/>
            <xs:element name="SrsTp"            type="SeriesTypeCode"           minOccurs="0"/>

            <!-- Underlying triple -->
            <xs:element name="UndrlygInstrmId"  type="InstrumentIdentification"/>

            <!-- Optional list of target instruments -->
            <xs:element name="TrgtInstrmId"     type="InstrumentIdentification" minOccurs="0" maxOccurs="unbounded"/>

            <!-- Protection and premium flags -->
            <xs:element name="PrtcnFlg"         type="YesNoFlag"/>
            <xs:element name="PrmUpfrntInd"     type="YesNoFlag"/>

            <!-- Trading dates -->
            <xs:element name="TradgStartDt"     type="ISODate"                  minOccurs="0"/>
            <xs:element name="TradgEndDt"       type="ISODate"                  minOccurs="0"/>

            <!-- Payment and pricing -->
            <xs:element name="PmtTp"            type="PaymentTypeCode"/>
            <xs:element name="AllcnRndLot"      type="AllocationRoundLot"       minOccurs="0"/>
            <xs:element name="PricFctr"         type="PriceFactor"/>

            <!-- Currency and settlement -->
            <xs:element name="TradgCcy"         type="CurrencyCode"/>
            <xs:element name="DaysToSttlm"      type="TextMin1Max4"/>
            <xs:element name="DlvryTp"          type="DeliveryTypeCode"/>
            <xs:element name="AutomtcExrcInd"   type="YesNoFlag"/>
        </xs:sequence>
    </xs:complexType>

    <!-- ========== OPTION ON FUTURES ========== -->

    <xs:complexType name="OptionOnFuturesAttributes">
        <xs:sequence>
            <!-- Identification -->
            <xs:element name="ISIN"             type="ISIN"                     minOccurs="0"/>
            <xs:element name="TckrSymb"         type="TickerSymbol"/>

            <!-- Exercise price with currency attribute -->
            <xs:element name="ExrcPric"         type="MoneyAmount10Decimal"/>

            <!-- Exercise style and type -->
            <xs:element name="ExrcStyle"        type="ExerciseStyle"/>
            <xs:element name="XprtnDt"          type="ISODate"/>
            <xs:element name="XprtnCd"          type="TextMin1Max4"/>
            <xs:element name="OptnTp"           type="OptionType"/>

            <!-- Contract multiplier and asset quotation quantity -->
            <xs:element name="CtrctMltplr"      type="Decimal18_17"             minOccurs="0"/>
            <xs:element name="AsstQtnQty"       type="Decimal18_17"             minOccurs="0"/>
            <xs:element name="PureGoldWght"     type="Decimal18_17"             minOccurs="0"/>

            <!-- Payment and trading configuration -->
            <xs:element name="PmtTp"            type="PaymentTypeCode"/>
            <xs:element name="AllcnRndLot"      type="AllocationRoundLot"       minOccurs="0"/>
            <xs:element name="CFICd"            type="TextMin1Max6"             minOccurs="0"/>

            <!-- Underlying triple -->
            <xs:element name="UndrlygInstrmId"  type="InstrumentIdentification"/>

            <!-- Premium and trading dates -->
            <xs:element name="PrmUpfrntInd"     type="YesNoFlag"/>
            <xs:element name="TradgStartDt"     type="ISODate"/>
            <xs:element name="TradgEndDt"       type="ISODate"/>
            <xs:element name="OpngPosLmtDt"     type="ISODate"/>

            <!-- Currency and settlement instrument -->
            <xs:element name="TradgCcy"         type="CurrencyCode"/>
            <xs:element name="AsstSttlmInd"     type="InstrumentIdentification" minOccurs="0"/>

            <!-- Days to maturity (withdrawal, working and calendar) -->
            <xs:element name="WdrwlDays"        type="DaysToMaturityCount"/>
            <xs:element name="WrkgDays"         type="DaysToMaturityCount"/>
            <xs:element name="ClnrDays"         type="DaysToMaturityCount"/>
            <xs:element name="AutomtcExrcInd"   type="YesNoFlag"                minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <!-- ========== FUTURE CONTRACTS ========== -->

    <xs:complexType name="FuturesContractsAttributes">
        <xs:sequence>
            <!-- Security category of the futures contract -->
            <xs:element name="SctyCtgy"         type="SecurityCategoryCode"     minOccurs="0"/>

            <!-- Expiration and basic identification -->
            <xs:element name="XprtnDt"          type="ISODate"/>
            <xs:element name="TckrSymb"         type="TickerSymbol"/>
            <xs:element name="XprtnCd"          type="TextMin1Max4"/>

            <!-- Trading dates for the futures contract -->
            <xs:element name="TradgStartDt"     type="ISODate"/>
            <xs:element name="TradgEndDt"       type="ISODate"/>

            <!-- Valuation type and conversion criteria -->
            <xs:element name="ValTpCd"          type="ValueTypeCode"/>
            <xs:element name="BaseCd"           type="BaseCode"                 minOccurs="0"/>
            <xs:element name="ConvsCrit"        type="ConversionCriteriaCode"   minOccurs="0"/>
            <xs:element name="MtrtyDtTrgtPt"    type="MaturityDateTarget"       minOccurs="0"/>
            <xs:element name="ReqrdConvsInd"    type="YesNoFlag"                minOccurs="0"/>

            <!-- Optional ISIN / CFI code -->
            <xs:element name="ISIN"             type="ISIN"                     minOccurs="0"/>
            <xs:element name="CFICd"            type="TextMin1Max6"             minOccurs="0"/>

            <!-- Delivery notice window -->
            <xs:element name="DlvryNtceStartDt" type="ISODate"                  minOccurs="0"/>
            <xs:element name="DlvryNtceEndDt"   type="ISODate"                  minOccurs="0"/>

            <!-- Delivery and payment type -->
            <xs:element name="DlvryTp"          type="DeliveryTypeCode"/>
            <xs:element name="PmtTp"            type="PaymentTypeCode"/>

            <!-- Contract multiplier and asset quotation quantity -->
            <xs:element name="CtrctMltplr"      type="Decimal18_17"             minOccurs="0"/>
            <xs:element name="AsstQtnQty"       type="Decimal18_17"             minOccurs="0"/>

            <!-- Settlement instrument and optional gold weight -->
            <xs:element name="AsstSttlmInd"     type="InstrumentIdentification" minOccurs="0"/>
            <xs:element name="PureGoldWght"     type="Decimal18_17"             minOccurs="0"/>

            <!-- Allocation lot and trading currency -->
            <xs:element name="AllcnRndLot"      type="AllocationRoundLot"       minOccurs="0"/>
            <xs:element name="TradgCcy"         type="CurrencyCode"/>

            <!-- Optional underlying reference instrument -->
            <xs:element name="UndrlygInstrmId"  type="InstrumentIdentification" minOccurs="0"/>

            <!-- Optional list of target instruments -->
            <xs:element name="TrgtInstrmId"     type="InstrumentIdentification" minOccurs="0" maxOccurs="unbounded"/>

            <!-- Days to maturity (withdrawal, working and calendar) -->
            <xs:element name="WdrwlDays"        type="DaysToMaturityCount"/>
            <xs:element name="WrkgDays"         type="DaysToMaturityCount"/>
            <xs:element name="ClnrDays"         type="DaysToMaturityCount"/>
        </xs:sequence>
    </xs:complexType>

    <!-- ========== EQUITIES ========== -->

    <xs:complexType name="EquitiesFinancialInstrumentAttributes">
        <xs:sequence>
            <!-- Security category of the equity instrument -->
            <xs:element name="SctyCtgy"       type="SecurityCategoryCode"/>

            <!-- Identification -->
            <xs:element name="ISIN"           type="ISIN"                  minOccurs="0"/>
            <xs:element name="DstrbtnId"      type="DistributionId"/>
            <xs:element name="CFICd"          type="TextMin1Max6"          minOccurs="0"/>
            <xs:element name="TckrSymb"       type="TickerSymbol"/>
            <xs:element name="SpcfctnCd"      type="TextMin1Max10"         minOccurs="0"/>

            <!-- Corporate / issuer data -->
            <xs:element name="CrpnNm"         type="TextMin1Max250"/>
            <xs:element name="PmtTp"          type="PaymentTypeCode"/>
            <xs:element name="AllcnRndLot"    type="AllocationRoundLot"/>
            <xs:element name="PricFctr"       type="PriceFactor"/>

            <!-- Trading and corporate action dates -->
            <xs:element name="TradgStartDt"    type="ISODate"               minOccurs="0"/>
            <xs:element name="TradgEndDt"      type="ISODate"               minOccurs="0"/>
            <xs:element name="CorpActnStartDt" type="ISODate"               minOccurs="0"/>
            <xs:element name="EXDstrbtnNb"     type="DistributionNumber"    minOccurs="0"/>

            <!-- Custody treatment and trading currency -->
            <xs:element name="CtdyTrtmntTp"   type="CustodyTreatmentTypeCode"   minOccurs="0"/>
            <xs:element name="TradgCcy"       type="CurrencyCode"/>

            <!-- Market capitalization and reference prices -->
            <xs:element name="MktCptlstn"     type="MoneyAmount10Decimal"  minOccurs="0"/>
            <xs:element name="LastPric"       type="MoneyAmount10Decimal"  minOccurs="0"/>
            <xs:element name="FrstPric"       type="MoneyAmount10Decimal"  minOccurs="0"/>

            <!-- Governance and settlement -->
            <xs:element name="GovnInd"        type="GovernanceIndicatorCode" minOccurs="0"/>
            <xs:element name="DaysToSttlm"    type="TextMin1Max4"/>
            <xs:element name="RghtsIssePric"  type="MoneyAmount10Decimal"  minOccurs="0"/>

            <!-- Relations with other instruments -->
            <xs:element name="UndrlygInstrmId" type="InstrumentIdentification"  minOccurs="0"/>
            <xs:element name="AsstSubTp"       type="AssetSubTypeCode"          minOccurs="0"/>
            <xs:element name="TrgtInstrmId"    type="InstrumentIdentification"  minOccurs="0" maxOccurs="unbounded"/>

            <!-- Auction and income tax details -->
            <xs:element name="AuctnTp"       type="AuctionInstrumentTypeCode"   minOccurs="0"/>
            <xs:element name="IncmTaxDtls"   type="EquitiesIncomeTaxDetails"    minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <!-- ========== STRATEGY ========== -->

    <xs:complexType name="StrategyFinancialInstrumentAttributes">
        <xs:sequence>
            <!-- Security category of the strategy instrument -->
            <xs:element name="SctyCtgy"       type="SecurityCategoryCode"/>

            <!-- Expiration and basic identification -->
            <xs:element name="XprtnDt"        type="ISODate"                       minOccurs="0"/>
            <xs:element name="TckrSymb"       type="TickerSymbol"/>
            <xs:element name="XprtnCd"        type="TextMin1Max4"                  minOccurs="0"/>

            <!-- Trading dates -->
            <xs:element name="TradgStartDt"   type="ISODate"/>
            <xs:element name="TradgEndDt"     type="ISODate"/>

            <!-- Valuation and identifiers -->
            <xs:element name="ValTpCd"        type="ValueTypeCode"/>
            <xs:element name="ISIN"           type="ISIN"                           minOccurs="0"/>
            <xs:element name="CFICd"          type="TextMin1Max6"                   minOccurs="0"/>

            <!-- Allocation, currency and rollover base price -->
            <xs:element name="AllcnRndLot"    type="AllocationRoundLot"             minOccurs="0"/>
            <xs:element name="TradgCcy"       type="CurrencyCode"                   minOccurs="0"/>
            <xs:element name="RlvrBasePricCd" type="RolloverBasePriceCode"          minOccurs="0"/>

            <!-- Futures opening day and settlement reference -->
            <xs:element name="OpngFutrPosDay" type="OpeningFuturePositionDayCount"  minOccurs="0"/>
            <xs:element name="AsstSttlmInd"   type="InstrumentIdentification"       minOccurs="0"/>
            <xs:element name="SttlmIndMltplr" type="SettlementIndexMultiplier"      minOccurs="0"/>

            <!-- Give-up allowance indicator -->
            <xs:element name="PrtlGvUpAllwncInd" type="YesNoFlag"                   minOccurs="0"/>

            <!-- Strategy legs list -->
            <xs:element name="StrtgyLegList"     type="StrategyLeg"                 maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <!-- ========== CASH ========== -->

    <xs:complexType name="CashFinancialInstrumentAttributes">
        <xs:sequence>
            <!-- Security category of the cash instrument -->
            <xs:element name="SctyCtgy" type="SecurityCategoryCode"/>

            <!-- Identification -->
            <xs:element name="ISIN"   type="ISIN"          minOccurs="0"/>
            <xs:element name="CFICd"  type="TextMin1Max6"  minOccurs="0"/>

            <!-- Currency code for the cash instrument -->
            <xs:element name="CcyCd" type="CurrencyCode"   minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <!-- ========== BONDS ========== -->

    <xs:complexType name="BondsFinancialInstrumentAttributes">
        <xs:sequence>
            <!-- Security category of the bond instrument -->
            <xs:element name="SctyCtgy"       type="SecurityCategoryCode"/>

            <!-- Identification -->
            <xs:element name="ISIN"           type="ISIN"                             minOccurs="0"/>
            <xs:element name="SelicCd"        type="TextMin1Max6"                     minOccurs="0"/>

            <!-- Reference date and amounts -->
            <xs:element name="BaseDt"         type="ISODate"                          minOccurs="0"/>
            <xs:element name="MtrtyVal"       type="MoneyAmount10Decimal"             minOccurs="0"/>
            <xs:element name="BaseDtPric"     type="MoneyAmount10Decimal"             minOccurs="0"/>

            <!-- Issue and maturity dates -->
            <xs:element name="IsseDt"         type="ISODate"/>
            <xs:element name="MtrtyDt"        type="ISODate"/>

            <!-- Brazilian federal government bond type -->
            <xs:element name="BrzlnFdrlGovntBdTpCd" type="BrazilianFederalGovernmentBondTypeCode"/>

            <!-- Indicators for securities lending and repo usage -->
            <xs:element name="SctyLndgGovntBdInd" type="YesNoFlag"                    minOccurs="0"/>
            <xs:element name="GovntBdRepoSpcfcInd" type="YesNoFlag"                   minOccurs="0"/>
            <xs:element name="GovntBdRepoGnlInd"   type="YesNoFlag"                   minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <!-- ========== INTERNATIONAL BONDS ========== -->

    <xs:complexType name="InternationalBondsFinancialInstrumentAttributes">
        <xs:sequence>
            <!-- Security category of the international bond instrument -->
            <xs:element name="SctyCtgy" type="SecurityCategoryCode"/>

            <!-- Identification codes -->
            <xs:element name="ISIN"     type="ISIN"          minOccurs="0"/>
            <xs:element name="CUSIP"    type="CUSIPCode"     minOccurs="0"/>

            <!-- Issuer country -->
            <xs:element name="IssrCtry" type="CountryCode"   minOccurs="0"/>

            <!-- Instrument type / description -->
            <xs:element name="Tp"       type="TextMin1Max100"/>

            <!-- Issue price and dates -->
            <xs:element name="IssePric" type="MoneyAmount10Decimal"/>
            <xs:element name="IsseDt"   type="ISODate"/>
            <xs:element name="MtrtyDt"  type="ISODate"       minOccurs="0"/>

            <!-- Currency of the international bond -->
            <xs:element name="Ccy"      type="CurrencyCode"  minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <!-- ========== FIC (INVESTMENT FUND) ========== -->

    <xs:complexType name="FICFinancialInstrumentAttributes">
        <xs:sequence>
            <!-- Security category of the investment fund instrument -->
            <xs:element name="SctyCtgy" type="SecurityCategoryCode"/>

            <!-- Fund name -->
            <xs:element name="FndNm"    type="TextMin1Max150"/>

            <!-- Currency of the fund instrument -->
            <xs:element name="Ccy"      type="CurrencyCode"  minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <!-- ========== ADR ========== -->

    <xs:complexType name="ADRInstrumentAttributes">
        <xs:sequence>
            <!-- Security category of the ADR instrument -->
            <xs:element name="SctyCtgy" type="SecurityCategoryCode"/>

            <!-- ADR ticker symbol -->
            <xs:element name="TckrSymb" type="TickerSymbol"/>

            <!-- ISIN identifier for the ADR -->
            <xs:element name="ISIN"     type="ISIN"          minOccurs="0"/>

            <!-- CFI code -->
            <xs:element name="CFICd"    type="TextMin1Max6"  minOccurs="0"/>

            <!-- CUSIP identifier -->
            <xs:element name="CUSIP"    type="CUSIPCode"/>

            <!-- ADR program level -->
            <xs:element name="PrgmLvl"  type="ProgramLevelTypeCode" minOccurs="0"/>

            <!-- Position amount (currency + amount) -->
            <xs:element name="Ppsn"     type="MoneyAmount10Decimal"/>

            <!-- Trading currency -->
            <xs:element name="TradgCcy" type="CurrencyCode"/>
        </xs:sequence>
    </xs:complexType>

    <!-- ========== FIXED INCOME NON-TRADABLE ========== -->

    <xs:complexType name="FixedIncomeNonTradableFinancialInstrumentAttributes">
        <xs:sequence>
            <!-- Security category of the non-tradable fixed income instrument -->
            <xs:element name="SctyCtgy"       type="SecurityCategoryCode"/>

            <!-- Identification -->
            <xs:element name="ISIN"           type="ISIN"                        minOccurs="0"/>
            <xs:element name="DstrbtnId"      type="DistributionId"/>
            <xs:element name="EXDstrbtnNb"    type="DistributionNumber"          minOccurs="0"/>

            <!-- Custody treatment and classification -->
            <xs:element name="CtdyTrtmntTp"   type="CustodyTreatmentTypeCode"    minOccurs="0"/>
            <xs:element name="CFICd"          type="TextMin1Max6"                minOccurs="0"/>
            <xs:element name="SpcfctnCd"      type="TextMin1Max10"               minOccurs="0"/>
            <xs:element name="CrpnNm"         type="TextMin1Max250"/>
            <xs:element name="AsstRegnDt"     type="ISODate"                     minOccurs="0"/>

            <!-- Issue identification -->
            <xs:element name="IsseCd"         type="IssueCode"/>
            <xs:element name="SrsNb"          type="SeriesNumber"/>

            <!-- Collateral and subordinated information -->
            <xs:element name="AsstCollTp"        type="AssetCollateralTypeCode"              minOccurs="0"/>
            <xs:element name="AsstAddtlCollTp"   type="AssetAdditionalCollateralTypeCode"    minOccurs="0"/>
            <xs:element name="AsstSubrdntdTp"    type="AssetSubordinatedTypeCode"            minOccurs="0"/>

            <!-- Debenture characteristics -->
            <xs:element name="DbnrConvtbltTp"       type="DebentureConvertibilityTypeCode"   minOccurs="0"/>
            <xs:element name="DbnrTaxBnft"          type="DebentureTaxBenefitDetails"        minOccurs="0"/>
            <xs:element name="PerptlDbnrInd"        type="YesNoFlag"                         minOccurs="0"/>
            <xs:element name="PerptlDbnrInitlPmtDt" type="ISODate"                           minOccurs="0"/>

            <!-- Payment periodicity and indexation -->
            <xs:element name="PmtPrdctyTp"       type="PaymentPeriodicityTypeCode"           minOccurs="0"/>
            <xs:element name="AsstInd"           type="InstrumentIdentification"             minOccurs="0"/>
            <xs:element name="IndxPctg"          type="Decimal12_4"                          minOccurs="0"/>

            <!-- Dates and interest rate -->
            <xs:element name="IsseDt"            type="ISODate"/>
            <xs:element name="BaseDt"            type="ISODate"                              minOccurs="0"/>
            <xs:element name="IntrstRate"        type="PercentageRate"                       minOccurs="0"/>
            <xs:element name="IntrstRateCrrctnTp"    type="InterestRateCorrectionTypeCode"       minOccurs="0"/>
            <xs:element name="IntrstRateCrrctnTmBase" type="InterestRateCorrectionTimeBaseCode" minOccurs="0"/>

            <!-- Early redemption -->
            <xs:element name="EarlyRedInd"       type="YesNoFlag"/>
            <xs:element name="EarlyRedDt"        type="ISODate"                              minOccurs="0"/>

            <!-- Issued amount and unit value -->
            <xs:element name="TtlSrsIsseVal"     type="Decimal28_8"/>
            <xs:element name="UnitVal"           type="Decimal10_2"/>

            <!-- Market capitalization and trading dates -->
            <xs:element name="MktCptlstn"        type="MoneyAmount10Decimal"                 minOccurs="0"/>
            <xs:element name="XprtnDt"           type="ISODate"/>
            <xs:element name="TradgStartDt"      type="ISODate"                              minOccurs="0"/>
            <xs:element name="TradgEndDt"        type="ISODate"                              minOccurs="0"/>

            <!-- Ticker, specification name and risk rating -->
            <xs:element name="TckrSymb"          type="TickerSymbol"/>
            <xs:element name="SpcfctnNm"         type="TextMin1Max20"                        minOccurs="0"/>
            <xs:element name="RskRatg"           type="TextMin1Max20"                        minOccurs="0"/>

            <!-- Trading currency and reference prices -->
            <xs:element name="TradgCcy"          type="CurrencyCode"/>
            <xs:element name="FrstPric"          type="MoneyAmount10Decimal"                 minOccurs="0"/>
            <xs:element name="LastPric"          type="MoneyAmount10Decimal"                 minOccurs="0"/>

            <!-- Optional list of target instruments -->
            <xs:element name="TrgtInstrmId"      type="InstrumentIdentification"             minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <!-- ========== ESSENTIAL SIMPLE TYPES  ========== -->

    <!-- Generic yes/no boolean flag -->
    <xs:simpleType name="YesNoFlag">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>

    <!-- Event frequency code (e.g. daily, on demand) -->
    <xs:simpleType name="EventFrequencyCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DAIL"/>
            <xs:enumeration value="ONDE"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Five-digit numeric text (report number) -->
    <xs:simpleType name="FiveDigitNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{5}"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Statement update type code (complete or delta) -->
    <xs:simpleType name="StatementUpdateTypeCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="COMP"/>
            <xs:enumeration value="DELT"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- ISO 8601 date (YYYY-MM-DD) -->
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>

    <!-- Text from 1 to 4 characters -->
    <xs:simpleType name="TextMin1Max4">
        <xs:restriction base="xs:string">
            <xs:maxLength value="4"/>
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Text from 1 to 6 characters -->
    <xs:simpleType name="TextMin1Max6">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="6"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Text from 1 to 10 characters -->
    <xs:simpleType name="TextMin1Max10">
        <xs:restriction base="xs:string">
            <xs:maxLength value="10"/>
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Text from 1 to 30 characters -->
    <xs:simpleType name="TextMin1Max30">
        <xs:restriction base="xs:string">
            <xs:maxLength value="30"/>
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Text from 1 to 35 characters -->
    <xs:simpleType name="TextMin1Max35">
        <xs:restriction base="xs:string">
            <xs:maxLength value="35"/>
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Text from 0 to 100 characters -->
    <xs:simpleType name="TextMin0Max100">
        <xs:restriction base="xs:string">
            <xs:minLength value="0"/>
            <xs:maxLength value="100"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Text from 1 to 150 characters -->
    <xs:simpleType name="TextMin1Max150">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="150"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Text from 1 to 250 characters -->
    <xs:simpleType name="TextMin1Max250">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="250"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- ISIN code (12 alphanumeric characters) -->
    <xs:simpleType name="ISIN">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{12}"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Ticker symbol up to 35 characters -->
    <xs:simpleType name="TickerSymbol">
        <xs:restriction base="xs:string">
            <xs:maxLength value="35"/>
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- MIC market identifier code (4 alphanumeric) -->
    <xs:simpleType name="MICCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Security category code -->
    <xs:simpleType name="SecurityCategoryCode">
        <xs:restriction base="xs:int"/>
    </xs:simpleType>

    <!-- Market code -->
    <xs:simpleType name="MarketCode">
        <xs:restriction base="xs:int"/>
    </xs:simpleType>

    <!-- Segment code -->
    <xs:simpleType name="SegmentCode">
        <xs:restriction base="xs:int"/>
    </xs:simpleType>

    <!-- Payment type code -->
    <xs:simpleType name="PaymentTypeCode">
        <xs:restriction base="xs:int"/>
    </xs:simpleType>

    <!-- Delivery type code -->
    <xs:simpleType name="DeliveryTypeCode">
        <xs:restriction base="xs:int"/>
    </xs:simpleType>

    <!-- Series type code -->
    <xs:simpleType name="SeriesTypeCode">
        <xs:restriction base="xs:int"/>
    </xs:simpleType>

    <!-- Valuation type code -->
    <xs:simpleType name="ValueTypeCode">
        <xs:restriction base="xs:int"/>
    </xs:simpleType>

    <!-- Conversion criteria code -->
    <xs:simpleType name="ConversionCriteriaCode">
        <xs:restriction base="xs:int"/>
    </xs:simpleType>

    <!-- Distribution identifier -->
    <xs:simpleType name="DistributionId">
        <xs:restriction base="xs:int"/>
    </xs:simpleType>

    <!-- Allocation round lot -->
    <xs:simpleType name="AllocationRoundLot">
        <xs:restriction base="xs:int"/>
    </xs:simpleType>

    <!-- Price factor -->
    <xs:simpleType name="PriceFactor">
        <xs:restriction base="xs:int"/>
    </xs:simpleType>

    <!-- Days to maturity count -->
    <xs:simpleType name="DaysToMaturityCount">
        <xs:restriction base="xs:int"/>
    </xs:simpleType>

    <!-- Base code -->
    <xs:simpleType name="BaseCode">
        <xs:restriction base="xs:int"/>
    </xs:simpleType>

    <!-- Maturity date target -->
    <xs:simpleType name="MaturityDateTarget">
        <xs:restriction base="xs:int"/>
    </xs:simpleType>

    <!-- Additional distribution number (EXDstrbtnNb) -->
    <xs:simpleType name="DistributionNumber">
        <xs:restriction base="xs:int"/>
    </xs:simpleType>

    <!-- Custody treatment type -->
    <xs:simpleType name="CustodyTreatmentTypeCode">
        <xs:restriction base="xs:int"/>
    </xs:simpleType>

    <!-- Governance indicator code -->
    <xs:simpleType name="GovernanceIndicatorCode">
        <xs:restriction base="xs:int"/>
    </xs:simpleType>

    <!-- Asset subtype code -->
    <xs:simpleType name="AssetSubTypeCode">
        <xs:restriction base="xs:int"/>
    </xs:simpleType>

    <!-- Auction instrument type code -->
    <xs:simpleType name="AuctionInstrumentTypeCode">
        <xs:restriction base="xs:int"/>
    </xs:simpleType>

    <!-- Tax type code -->
    <xs:simpleType name="TaxTypeCode">
        <xs:restriction base="xs:int"/>
    </xs:simpleType>

    <!-- Consolidated asset code -->
    <xs:simpleType name="ConsolidatedAssetCode">
        <xs:restriction base="xs:int"/>
    </xs:simpleType>

    <!-- Rollover base price code -->
    <xs:simpleType name="RolloverBasePriceCode">
        <xs:restriction base="xs:int"/>
    </xs:simpleType>

    <!-- Brazilian federal government bond type code -->
    <xs:simpleType name="BrazilianFederalGovernmentBondTypeCode">
        <xs:restriction base="xs:int"/>
    </xs:simpleType>

    <!-- ADR program level code -->
    <xs:simpleType name="ProgramLevelTypeCode">
        <xs:restriction base="xs:int"/>
    </xs:simpleType>

    <!-- Opening futures position day count -->
    <xs:simpleType name="OpeningFuturePositionDayCount">
        <xs:restriction base="xs:int"/>
    </xs:simpleType>

    <!-- Settlement index multiplier -->
    <xs:simpleType name="SettlementIndexMultiplier">
        <xs:restriction base="xs:int"/>
    </xs:simpleType>

    <!-- Strategy leg identifier -->
    <xs:simpleType name="StrategyLegIdentifier">
        <xs:restriction base="xs:int"/>
    </xs:simpleType>

    <!-- Issue code -->
    <xs:simpleType name="IssueCode">
        <xs:restriction base="xs:int"/>
    </xs:simpleType>

    <!-- Series number -->
    <xs:simpleType name="SeriesNumber">
        <xs:restriction base="xs:int"/>
    </xs:simpleType>

    <!-- Asset collateral type code -->
    <xs:simpleType name="AssetCollateralTypeCode">
        <xs:restriction base="xs:int"/>
    </xs:simpleType>

    <!-- Additional asset collateral type code -->
    <xs:simpleType name="AssetAdditionalCollateralTypeCode">
        <xs:restriction base="xs:int"/>
    </xs:simpleType>

    <!-- Subordinated asset type code -->
    <xs:simpleType name="AssetSubordinatedTypeCode">
        <xs:restriction base="xs:int"/>
    </xs:simpleType>

    <!-- Debenture convertibility type code -->
    <xs:simpleType name="DebentureConvertibilityTypeCode">
        <xs:restriction base="xs:int"/>
    </xs:simpleType>

    <!-- Payment periodicity type code -->
    <xs:simpleType name="PaymentPeriodicityTypeCode">
        <xs:restriction base="xs:int"/>
    </xs:simpleType>

    <!-- Interest rate correction type code -->
    <xs:simpleType name="InterestRateCorrectionTypeCode">
        <xs:restriction base="xs:int"/>
    </xs:simpleType>

    <!-- Interest rate correction time base code -->
    <xs:simpleType name="InterestRateCorrectionTimeBaseCode">
        <xs:restriction base="xs:int"/>
    </xs:simpleType>

    <!-- Percentage rate (interest rate) -->
    <xs:simpleType name="PercentageRate">
        <xs:restriction base="xs:decimal">
            <xs:totalDigits value="11"/>
            <xs:fractionDigits value="10"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Indexed percentage quantity -->
    <xs:simpleType name="Decimal12_4">
        <xs:restriction base="xs:decimal">
            <xs:totalDigits value="12"/>
            <xs:fractionDigits value="4"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Total issued series value -->
    <xs:simpleType name="Decimal28_8">
        <xs:restriction base="xs:decimal">
            <xs:totalDigits value="28"/>
            <xs:fractionDigits value="8"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Unit value -->
    <xs:simpleType name="Decimal10_2">
        <xs:restriction base="xs:decimal">
            <xs:totalDigits value="10"/>
            <xs:fractionDigits value="2"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Specification name and risk rating -->
    <xs:simpleType name="TextMin1Max20">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="20"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Strategy leg definition -->
    <xs:complexType name="StrategyLeg">
        <xs:sequence>
            <!-- Leg identifier within the strategy -->
            <xs:element name="LegId"          type="StrategyLegIdentifier"/>

            <!-- Side type (buy or sell) -->
            <xs:element name="SdTpCd"         type="SideTypeCode"/>

            <!-- Underlying instrument for this leg -->
            <xs:element name="UndrlygInstrmId" type="InstrumentIdentification"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Side type code (BUYI or SELL) -->
    <xs:simpleType name="SideTypeCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BUYI"/>
            <xs:enumeration value="SELL"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Generic decimal with 18 total digits and 17 fraction digits -->
    <xs:simpleType name="Decimal18_17">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="17"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Exercise styles -->
    <xs:simpleType name="ExerciseStyle">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AMER"/>
            <xs:enumeration value="ASIA"/>
            <xs:enumeration value="BERM"/>
            <xs:enumeration value="CANA"/>
            <xs:enumeration value="EURO"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Debenture tax benefit flags -->
    <xs:complexType name="DebentureTaxBenefitDetails">
        <xs:sequence>
            <xs:element name="Artl1Ind" type="YesNoFlag" minOccurs="0"/>
            <xs:element name="Artl2Ind" type="YesNoFlag" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Option exercise styles (American / European) -->
    <xs:simpleType name="OptionStyle">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AMER"/>
            <xs:enumeration value="EURO"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Option type (call/put) -->
    <xs:simpleType name="OptionType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CALL"/>
            <xs:enumeration value="PUTT"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Active or historic currency code used in amount attributes -->
    <xs:simpleType name="CurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3}"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Inner simple type for amounts with 10 fraction digits and 25 total digits -->
    <xs:simpleType name="MoneyAmountAndCurrencyType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:minInclusive value="0"/>
            <xs:totalDigits value="25"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Monetary amount with currency in attribute Ccy -->
    <xs:complexType name="MoneyAmount10Decimal">
        <xs:simpleContent>
            <xs:extension base="MoneyAmountAndCurrencyType">
                <xs:attribute name="Ccy" type="CurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <!-- Income tax details for Equities (IncmTaxDtls) -->
    <xs:complexType name="EquitiesIncomeTaxDetails">
        <xs:sequence>
            <xs:element name="TradTaxTp"    type="TaxTypeCode"           minOccurs="0"/>
            <xs:element name="IncmTaxTp"    type="TaxTypeCode"           minOccurs="0"/>
            <xs:element name="CnsltdAsstCd" type="ConsolidatedAssetCode" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <!-- CUSIP identifier (9 alphanumeric characters) -->
    <xs:simpleType name="CUSIPCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{9}"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- ISO country code (2 letters) -->
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2}"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Generic text from 1 to 100 characters -->
    <xs:simpleType name="TextMin1Max100">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="100"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
