PostTrade/EX5/xsd_files/ex5f-ins-reg-0101-xml.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns="urn:ex5f-ins-reg-0101-xml.xsd"
    targetNamespace="urn:ex5f-ins-reg-0101-xml.xsd"
    elementFormDefault="qualified">

    <!--
        A5X INSTRUMENTS DATA
        ex5f-ins-reg-0101-xml.xsd
        version 1
    -->

    <!-- ========== ROOT DOCUMENT ========== -->

    <xs:element name="Document" type="Document"/>

    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="Instrm" type="Instruments"/>
        </xs:sequence>
    </xs:complexType>

    <!-- ========== INSTRUMENT WRAPPER (ENVELOPE) ========== -->

    <xs:complexType name="Instruments">
        <xs:sequence>
            <xs:element name="RptParams"          type="ReportParameters"              />
            <xs:element name="FinInstrmId"        type="InstrumentIdentification"      />
            <xs:element name="FinInstrmAttrCmon"  type="CommonInstrumentAttributes"    />
            <xs:element name="InstrmInf"          type="InstrumentSpecificAttributes"  />
        </xs:sequence>
    </xs:complexType>

    <!-- ========== COMMON PART (REPORT + CORE IDENTIFICATION + COMMON ATTRIBUTES) ========== -->

    <!-- Report parameters -->
    <xs:complexType name="ReportParameters">
        <xs:sequence>
            <xs:element name="ActvtyInd"   type="YesNoFlag"                          />
            <xs:element name="Frqcy"       type="EventFrequencyCode"                 />
            <xs:element name="NetPosId"    type="TextMax35"                          />
            <xs:element name="RptDtAndTm"  type="ReportDateChoice"                   />
            <xs:element name="RptNb"       type="FiveDigitNumericText" minOccurs="0" />
            <xs:element name="UpdTp"       type="StatementUpdateTypeCode"            />
        </xs:sequence>
    </xs:complexType>

    <!-- Report date wrapper (date-only for this reduced model) -->
    <xs:complexType name="ReportDateChoice">
        <xs:sequence>
            <xs:element name="Dt" type="ISODate" />
        </xs:sequence>
    </xs:complexType>

    <!-- Instrument identification (triple: id + source + exchange) -->
    <xs:complexType name="InstrumentIdentification">
        <xs:sequence>
            <xs:element name="OthrId"     type="AlternativeIdentification" />
            <xs:element name="PlcOfListg" type="MarketIdentification"      />
        </xs:sequence>
    </xs:complexType>

    <!-- Alternative (Other) identification: ID + proprietary type/source -->
    <xs:complexType name="AlternativeIdentification">
        <xs:sequence>
            <xs:element name="Id" type="TextMax35"            />
            <xs:element name="Tp" type="SourceIdentification" />
        </xs:sequence>
    </xs:complexType>

    <!-- Identification source (proprietary code) -->
    <xs:complexType name="SourceIdentification">
        <xs:sequence>
            <xs:element name="Prtry" type="TextMax35" />
        </xs:sequence>
    </xs:complexType>

    <!-- Market identification (MIC code) -->
    <xs:complexType name="MarketIdentification">
        <xs:sequence>
            <xs:element name="MktIdrCd" type="MICCode" />
        </xs:sequence>
    </xs:complexType>

    <!-- Common instrument attributes (asset + market/segment + description) -->
    <xs:complexType name="CommonInstrumentAttributes">
        <xs:sequence>
            <xs:element name="Asst"      type="TextMax30"   />
            <xs:element name="AsstDesc"  type="TextMax100"  />
            <xs:element name="Mkt"       type="MarketCode"  />
            <xs:element name="Sgmt"      type="SegmentCode" />
            <xs:element name="Desc"      type="TextMax100"  />
        </xs:sequence>
    </xs:complexType>

    <!-- Instrument choice with the 3 types used by A5X:
       - Option on Equities
       - Option on Futures
       - Futures Contracts
    -->
    <xs:complexType name="InstrumentSpecificAttributes">
        <xs:choice>
            <xs:element name="OptnOnEqtsInf"         type="OptionOnEquitiesAttributes" />
            <xs:element name="OptnOnSpotAndFutrsInf" type="OptionOnFuturesAttributes"  />
            <xs:element name="FutrCtrctsInf"         type="FuturesContractsAttributes" />
        </xs:choice>
    </xs:complexType>

    <!-- ========== OPTION ON EQUITIES ========== -->

    <xs:complexType name="OptionOnEquitiesAttributes">
        <xs:sequence>
            <xs:element name="SctyCtgy"         type="SecurityCategoryCode"                    />
            <xs:element name="ISIN"             type="ISIN"                      minOccurs="0" />
            <xs:element name="DstrbtnId"        type="DistributionId"                          />
            <xs:element name="CFICd"            type="TextMax6"                  minOccurs="0" />
            <xs:element name="TckrSymb"         type="TickerSymbol"                            />

            <!-- Exercise price with currency attribute -->
            <xs:element name="ExrcPric"         type="MoneyAmount10Decimal"                    />

            <xs:element name="OptnStyle"        type="OptionStyle"                             />
            <xs:element name="XprtnDt"          type="ISODate"                                 />
            <xs:element name="XprtnCd"          type="TextMax4"                  minOccurs="0" />
            <xs:element name="OptnTp"           type="OptionType"                              />
            <xs:element name="SrsTp"            type="SeriesTypeCode"            minOccurs="0" />

            <!-- Underlying triple -->
            <xs:element name="UndrlygInstrmId"  type="InstrumentIdentification"                />

            <!-- Optional list of target instruments -->
            <xs:element name="TrgtInstrmId"     type="InstrumentIdentification"  minOccurs="0" maxOccurs="unbounded" />

            <!-- Protection and premium flags -->
            <xs:element name="PrtcnFlg"         type="YesNoFlag"                               />
            <xs:element name="PrmUpfrntInd"     type="YesNoFlag"                               />

            <!-- Trading dates -->
            <xs:element name="TradgStartDt"     type="ISODate"                   minOccurs="0" />
            <xs:element name="TradgEndDt"       type="ISODate"                   minOccurs="0" />

            <!-- Payment and pricing -->
            <xs:element name="PmtTp"            type="PaymentTypeCode"                         />
            <xs:element name="AllcnRndLot"      type="AllocationRoundLot"        minOccurs="0" />
            <xs:element name="PricFctr"         type="PriceFactor"                             />

            <!-- Currency and settlement -->
            <xs:element name="TradgCcy"         type="CurrencyCode"                            />
            <xs:element name="DaysToSttlm"      type="TextMax4"                                />
            <xs:element name="DlvryTp"          type="DeliveryTypeCode"                        />
            <xs:element name="AutomtcExrcInd"   type="YesNoFlag"                               />
        </xs:sequence>
    </xs:complexType>

    <!-- ========== OPTION ON FUTURES ========== -->

    <xs:complexType name="OptionOnFuturesAttributes">
        <xs:sequence>
            <xs:element name="ISIN"             type="ISIN"                     minOccurs="0" />
            <xs:element name="TckrSymb"         type="TickerSymbol"                           />

            <!-- Exercise price with currency attribute -->
            <xs:element name="ExrcPric"         type="MoneyAmount10Decimal"                   />

            <!-- Exercise style and type -->
            <xs:element name="ExrcStyle"        type="ExerciseStyle"                          />
            <xs:element name="XprtnDt"          type="ISODate"                                />
            <xs:element name="XprtnCd"          type="TextMax4"                               />
            <xs:element name="OptnTp"           type="OptionType"                             />

            <!-- Contract multiplier and asset quotation quantity -->
            <xs:element name="CtrctMltplr"      type="Decimal18_17"             minOccurs="0" />
            <xs:element name="AsstQtnQty"       type="Decimal18_17"             minOccurs="0" />
            <xs:element name="PureGoldWght"     type="Decimal18_17"             minOccurs="0" />

            <!-- Payment and trading configuration -->
            <xs:element name="PmtTp"            type="PaymentTypeCode"                        />
            <xs:element name="AllcnRndLot"      type="AllocationRoundLot"       minOccurs="0" />
            <xs:element name="CFICd"            type="TextMax6"                 minOccurs="0" />

            <!-- Underlying triple -->
            <xs:element name="UndrlygInstrmId"  type="InstrumentIdentification"               />

            <!-- Premium and trading dates -->
            <xs:element name="PrmUpfrntInd"     type="YesNoFlag"                              />
            <xs:element name="TradgStartDt"     type="ISODate"                                />
            <xs:element name="TradgEndDt"       type="ISODate"                                />
            <xs:element name="OpngPosLmtDt"     type="ISODate"                                />

            <!-- Currency and settlement instrument -->
            <xs:element name="TradgCcy"         type="CurrencyCode"                           />
            <xs:element name="AsstSttlmInd"     type="InstrumentIdentification" minOccurs="0" />

            <!-- Days to maturity (withdrawal, working and calendar) -->
            <xs:element name="WdrwlDays"        type="DaysToMaturityCount"                    />
            <xs:element name="WrkgDays"         type="DaysToMaturityCount"                    />
            <xs:element name="ClnrDays"         type="DaysToMaturityCount"                    />
            <xs:element name="AutomtcExrcInd"   type="YesNoFlag"                minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <!-- ========== FUTURE CONTRACTS ========== -->

    <xs:complexType name="FuturesContractsAttributes">
        <xs:sequence>
            <xs:element name="SctyCtgy"         type="SecurityCategoryCode"     minOccurs="0" />

            <!-- Expiration and basic identification -->
            <xs:element name="XprtnDt"          type="ISODate"                                />
            <xs:element name="TckrSymb"         type="TickerSymbol"                           />
            <xs:element name="XprtnCd"          type="TextMax4"                               />

            <!-- Trading dates for the futures contract -->
            <xs:element name="TradgStartDt"     type="ISODate"                                />
            <xs:element name="TradgEndDt"       type="ISODate"                                />

            <!-- Valuation type and conversion criteria -->
            <xs:element name="ValTpCd"          type="ValueTypeCode"                          />
            <xs:element name="BaseCd"           type="BaseCode"                 minOccurs="0" />
            <xs:element name="ConvsCrit"        type="ConversionCriteriaCode"   minOccurs="0" />
            <xs:element name="MtrtyDtTrgtPt"    type="MaturityDateTarget"       minOccurs="0" />
            <xs:element name="ReqrdConvsInd"    type="YesNoFlag"                minOccurs="0" />

            <!-- Optional ISIN / CFI code -->
            <xs:element name="ISIN"             type="ISIN"                     minOccurs="0" />
            <xs:element name="CFICd"            type="TextMax6"                 minOccurs="0" />

            <!-- Delivery notice window -->
            <xs:element name="DlvryNtceStartDt" type="ISODate"                  minOccurs="0" />
            <xs:element name="DlvryNtceEndDt"   type="ISODate"                  minOccurs="0" />

            <!-- Delivery and payment type -->
            <xs:element name="DlvryTp"          type="DeliveryTypeCode"                       />
            <xs:element name="PmtTp"            type="PaymentTypeCode"                        />

            <!-- Contract multiplier and asset quotation quantity -->
            <xs:element name="CtrctMltplr"      type="Decimal18_17"             minOccurs="0" />
            <xs:element name="AsstQtnQty"       type="Decimal18_17"             minOccurs="0" />

            <!-- Settlement instrument and optional gold weight -->
            <xs:element name="AsstSttlmInd"     type="InstrumentIdentification" minOccurs="0" />
            <xs:element name="PureGoldWght"     type="Decimal18_17"             minOccurs="0" />

            <!-- Allocation lot and trading currency -->
            <xs:element name="AllcnRndLot"      type="AllocationRoundLot"       minOccurs="0" />
            <xs:element name="TradgCcy"         type="CurrencyCode"                           />

            <!-- Optional underlying reference instrument -->
            <xs:element name="UndrlygInstrmId" type="InstrumentIdentification"  minOccurs="0" />

            <!-- Optional list of target instruments -->
            <xs:element name="TrgtInstrmId" type="InstrumentIdentification"     minOccurs="0" maxOccurs="unbounded" />

            <!-- Days to maturity (withdrawal, working and calendar) -->
            <xs:element name="WdrwlDays"        type="DaysToMaturityCount"                    />
            <xs:element name="WrkgDays"         type="DaysToMaturityCount"                    />
            <xs:element name="ClnrDays"         type="DaysToMaturityCount"                    />
        </xs:sequence>
    </xs:complexType>

    <!-- ========== ESSENTIAL SIMPLE TYPES  ========== -->

    <xs:simpleType name="YesNoFlag">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>

    <xs:simpleType name="EventFrequencyCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DAIL"/>
            <xs:enumeration value="ONDE"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="FiveDigitNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{5}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="StatementUpdateTypeCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="COMP"/>
            <xs:enumeration value="DELT"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>

    <xs:simpleType name="TextMax35">
        <xs:restriction base="xs:string">
            <xs:maxLength value="35"/>
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="TextMax30">
        <xs:restriction base="xs:string">
            <xs:maxLength value="30"/>
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="TextMax100">
        <xs:restriction base="xs:string">
            <xs:maxLength value="100"/>
            <xs:minLength value="0"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="TextMax4">
        <xs:restriction base="xs:string">
            <xs:maxLength value="4"/>
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="TextMax6">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="6"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ISIN">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{12}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="TickerSymbol">
        <xs:restriction base="xs:string">
            <xs:maxLength value="35"/>
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="MICCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="SecurityCategoryCode">
        <xs:restriction base="xs:int"/>
    </xs:simpleType>

    <xs:simpleType name="MarketCode">
        <xs:restriction base="xs:int"/>
    </xs:simpleType>

    <xs:simpleType name="SegmentCode">
        <xs:restriction base="xs:int"/>
    </xs:simpleType>

    <xs:simpleType name="PaymentTypeCode">
        <xs:restriction base="xs:int"/>
    </xs:simpleType>

    <xs:simpleType name="DeliveryTypeCode">
        <xs:restriction base="xs:int"/>
    </xs:simpleType>

    <xs:simpleType name="SeriesTypeCode">
        <xs:restriction base="xs:int"/>
    </xs:simpleType>

    <xs:simpleType name="ValueTypeCode">
        <xs:restriction base="xs:int"/>
    </xs:simpleType>

    <xs:simpleType name="ConversionCriteriaCode">
        <xs:restriction base="xs:int"/>
    </xs:simpleType>

    <xs:simpleType name="DistributionId">
        <xs:restriction base="xs:int"/>
    </xs:simpleType>

    <xs:simpleType name="AllocationRoundLot">
        <xs:restriction base="xs:int"/>
    </xs:simpleType>

    <xs:simpleType name="PriceFactor">
        <xs:restriction base="xs:int"/>
    </xs:simpleType>

    <xs:simpleType name="DaysToMaturityCount">
        <xs:restriction base="xs:int"/>
    </xs:simpleType>

    <xs:simpleType name="BaseCode">
        <xs:restriction base="xs:int"/>
    </xs:simpleType>

    <xs:simpleType name="MaturityDateTarget">
        <xs:restriction base="xs:int"/>
    </xs:simpleType>

    <!-- Generic decimal with 18 total digits and 17 fraction digits -->
    <xs:simpleType name="Decimal18_17">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="17"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Option styles -->
    <xs:simpleType name="ExerciseStyle">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AMER"/>
            <xs:enumeration value="ASIA"/>
            <xs:enumeration value="BERM"/>
            <xs:enumeration value="CANA"/>
            <xs:enumeration value="EURO"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="OptionStyle">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AMER"/>
            <xs:enumeration value="EURO"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Option type (call/put) -->
    <xs:simpleType name="OptionType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CALL"/>
            <xs:enumeration value="PUTT"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Active or historic currency code used in amount attributes -->
    <xs:simpleType name="CurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3}"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Inner simple type for amounts with 10 fraction digits and 25 total digits -->
    <xs:simpleType name="MoneyAmountAndCurrencyType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:minInclusive value="0"/>
            <xs:totalDigits value="25"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Monetary amount with currency in attribute Ccy -->
    <xs:complexType name="MoneyAmount10Decimal">
        <xs:simpleContent>
            <xs:extension base="MoneyAmountAndCurrencyType">
                <xs:attribute name="Ccy" type="CurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
</xs:schema>
