PostTrade/EX5/xsd_files/head.001.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by SWIFTStandards Workstation (build:R7.1.0.4) on 2010 Jun 01 16:18:55-->
<!--version="1.6"-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:head.001.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:iso:std:iso:20022:tech:xsd:head.001.001.01" elementFormDefault="qualified">
	<xs:element name="AppHdr" type="BusinessApplicationHeaderV01"/>
	<xs:complexType name="BusinessApplicationHeaderV01">
		<xs:sequence>
			<xs:element name="BizMsgIdr" type="Max35Text"/>
			<xs:element name="MsgDefIdr" type="Max35Text"/>
			<xs:element name="CreDt" type="ISONormalisedDateTime"/>
			<xs:element name="Fr" type="Party9Choice"/>
			<xs:element name="To" type="Party9Choice"/>
			<xs:element name="Rltd" type="BusinessApplicationHeader1" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Party9Choice">
		<xs:sequence>
			<xs:element name="OrgId" type="PartyIdentification42"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PartyIdentification42">
		<xs:sequence>
			<xs:element name="Id" type="Party10Choice" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Party10Choice">
		<xs:sequence>
			<xs:element name="OrgId" type="OrganisationIdentification7"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrganisationIdentification7">
		<xs:sequence>
			<xs:element name="Othr" type="GenericOrganisationIdentification1" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GenericOrganisationIdentification1">
		<xs:sequence>
			<xs:element name="Id" type="Max35Text"/>
			<xs:element name="SchmeNm" type="OrganisationIdentificationSchemeName1Choice" minOccurs="0"/>
			<xs:element name="Issr" type="Max35Text" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrganisationIdentificationSchemeName1Choice">
		<xs:sequence>
			<xs:element name="Prtry" type="Max35Text"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BusinessApplicationHeader1">
		<xs:sequence>
			<xs:element name="BizMsgIdr" type="Max35Text"/>
			<xs:element name="MsgDefIdr" type="Max35Text"/>
			<xs:element name="CreDt" type="ISONormalisedDateTime"/>
			<xs:element name="Fr" type="Party9Choice"/>
			<xs:element name="To" type="Party9Choice"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ISONormalisedDateTime">
		<xs:restriction base="xs:dateTime">
			<xs:pattern value=".*Z"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max35Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
